.main {
    margin: auto;
    width: 100%;
    text-align: center;
}
.dice {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    width: 100%;
    justify-content: center;
    
}
body {
    background-image: url('./images/Tatli.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin: 30px;
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #ddb892;
    text-align: center;
}
h3 {
    margin: 30px;
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2rem;
    color: #ede0d4;
    text-align: center;
}
footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
  }
p {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #EEEEEE;
}
.bar {
    height: 75px;
    background-color:#B1ADA7;
    max-width: 100%;
    border: 2px solid black;
    opacity: 0,7;
    text-align: center;
}
.col1 {
    width: 33%;
}
.col2 {
    width: 33%;
}
.col3 {
    width: 33%;
}